* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.contenedor {
 width: 100%;
 height: 100vh;
 background: #f5f5f5;
 display: flex;
 justify-content: center;
 align-items: center;   
}

.calculadora {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.visor {
    background-color: rgba(2, 49, 26, 0.664);
    border-radius: 8px;
}

.calculadora form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.3);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .visor {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .visor input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.resultado {
    width: 145px;
    background-color: rgba(2, 49, 26, 0.664);
    color: beige;
    font-weight: bold;
    font-size: 200%;
}

form input.borrador {
   color: rgb(179, 84, 55);
}

form input.operadores {
    color: beige;
    background-color: rgb(175, 96, 72);
}